body {
	background-color: black;
	color: crimson;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	opacity: 0.8;
	float: middle;
}

div {
	color: blue;
}

.footer {
	text-align: center;
	font-size: 15px;
}

.container {
  position: relative;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 12px;
}

h1 {
	text-align: center;
	color: crimson;
}

.intro {
	text-indent: 50px;
	text-align: left;
	font-size: 15px;
}

a:link, visited {
	display: inline-block;
    padding: 20px;
    background-color: yellow;
	color: purple;
    text-decoration: none;
    border: 2px solid white;
	border-radius: 5px;
    font-size: 2em;
    font-family: "Comic Sans MS";
} 

a:hover, active {
	display: inline-block;
    padding: 20px;
    background-color: darksalmon;
    color: black;
    text-decoration: underline;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 2em;
    font-family: "Comic Sans MS";
}

th {
	color: black;
}