body {
  font-family: "Quicksand", sans-serif;
  position: absolute;
}
body:h2 {
  text-align: center;
  padding: 20px;
  margin: 10px;
}
table {
  font-family: "Montserrat", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2.5px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lavenderblush;
}
tr:nth-child(odd) {
  background-color: lightcyan;
}
