body{
 background-color: Black;
 color: white;
}
h1.center {
 text-align: center;
}
div.main {
 background-color: lightgray;
 color: black;
 margin: 75px;
 padding: 50px;
}
a.button {
 padding: 20px;
 background-color: orange;
 color: white;
 text-decoration: none;
 border: 2px solid black;
 border-radius: 5px;
 display: inline-block;
 font-size: 1.2em;
 
}

td {
	color: black;
}

span {
   color: red;
}