body {
	background-color: darkgrey;
	color: white;
}

.centre {
	text-align: left;
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
}

div.main {
	background-color: #696969;
	color: crimson;
	margin: 50px;
}
	