html, body {
  margin: 0;
  background-color: white;
  height: 100%;
}
/* Three columns side by side */
.column {
  float: left;
  width: 31%;
  margin-bottom: 16px;
  padding: 13px;
  padding-top: 13px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #AAAAAA;
}

.navbar a.active {
  background-color: #C11B17;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.parallax {
  /* The image used */
  background-image: url('back.jpg');

  /* Full height */
  height: 87%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

* {box-sizing: border-box;}

.containers {
  position: relative;
  width: 100%;
  max-width: 650px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.containers:hover .overlay {
  opacity: 1;
}

.parallaxfighters {
  /* The image used */
  background-image: url('belt.jpg');

  /* Full height */
  height: 87%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.parallaxfights {
  /* The image used */
  background-image: url('oct.jpg');

  /* Full height */
  height: 87%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.parallaxhistory {
  /* The image used */
  background-image: url('old.jpg');

  /* Full height */
  height: 87%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

td {
  padding: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  align-content: center;
}