body	{
		background-color: powderblue;
		color: white;
}

div.main	{
	background-color: white;
	color: powderblue;
	width: 500px;
	margin: auto;
	padding: 25px;
}

a.button	{
	background-color: palegreen;
	color: darkgreen;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-color: darkgreen;
	border-width: 2px;
	border-style: solid;
	border-radius: 20px;
}

.center	{
		text-align: center;
}